<main id="main" aria-role="main">
  <section class="section">
    <div class="container pb-6">
      <%= render 'notifications' %>
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          <div class="card">
            <header class="card-header">
              <h1 class="card-header-title"><%= @domain.name %></h1>
              <div class="card-header-icon">
                <span class="icon ml-3">
                  <%= link_to edit_dashboard_domain_path(@domain), class: 'has-text-dark' do %><i class="fas fa-edit"></i><% end %>
                </span>
                <span class="icon ml-3">
                  <%= link_to dashboard_domain_url(@domain), method: :delete, data: { confirm: 'Are you sure?' }, class: 'has-text-dark' do %><i class="fas fa-trash"></i><% end %>
                </span>
              </div>
            </header>
            <div class="card-content">
              <p class="subtitle"><strong><%= @domain.links.count %></strong> <%= t '.links', count: @domain.links.count %></p>

              <div class="level mt-3">
                <div class="level-left">
                  <div class="level-item">
                    <small>
                      <i class="fas fa-calendar"></i>
                      &nbsp;
                      <%= local_time @domain.created_at %>
                    </small>
                  </div>
                </div>
                <div class="level-right">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
