<% content_for :form do %>
  <%= form_for(:user, url: user_registration_path) do |f| %>
    <div class="field">
      <%= f.label :name, t('.form.name'), class: 'label' %>
      <div class="control"><%= f.text_field :name, required: true, autofocus: true, autocomplete: "name", class: 'input' %></div>
    </div>

    <div class="field">
      <%= f.label :email, t('.form.email'), class: 'label' %>
      <div class="control"><%= f.email_field :email, required: true, autocomplete: "email", class: 'input' %></div>
    </div>

    <div class="field">
      <%= f.label :password, t('.form.password'), class: 'label', required: true %>
      <div class="control"><%= f.password_field :password, autocomplete: "current-password", class: 'input' %></div>
    </div>
    
    <%= f.submit t('.form.submit'), class: 'button is-primary is-large is-fullwidth' %>
  <% end %>
<% end %>
