<section>
  <h2 class="is-size-4"><%= t '.profile.title' %></h2>
  <hr>

  <%= render 'form_errors', locals: { resource: current_user } %>

  <%= form_for(current_user, url: dashboard_account_profile_path) do |f| %>
    <div class="field">
      <%= f.label :name, t('.profile.form.name'), class: 'label' %>
      <div class="control"><%= f.text_field :name, required: true, autofocus: true, autocomplete: "name", class: 'input' %></div>
    </div>

    <div class="field">
      <%= f.label :email, t('.profile.form.email'), class: 'label' %>
      <div class="control"><%= f.email_field :email, required: true, autocomplete: "email", class: 'input' %></div>
    </div>
    
    <%= f.submit t('.profile.form.submit'), class: 'button is-primary' %>
  <% end %>
</section>
