<nav class="navbar has-background-dark">
  <div class="container">
    <div class="navbar-brand">
      <h1 class="navbar-item is-size-3 has-text-white">brvs</h1>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <% if user_signed_in? %>
          <span class="navbar-item">
            <%= link_to t(:dashboard, scope: 'application.nav'), dashboard_root_path, class: 'has-text-white' %>
          </span>
          <span class="navbar-item">
            <%= link_to current_user.name, dashboard_account_path, class: 'has-text-white' %>
          </span>
          <span class="navbar-item">
            <%= link_to t(:logout, scope: 'application.nav'), destroy_user_session_path, method: :delete, class: 'button' %>
          </span>
        <% else %>
          <% if !ENV['REGISTRATION_DISABLED'] && controller_name != 'registrations' %>
            <span class="navbar-item">
              <%= link_to t(:register, scope: 'application.nav'), new_user_registration_path, class: 'button' %>
            </span>
          <% end %>
          <% if controller_name != 'sessions' %>
            <span class="navbar-item">
              <%= link_to t(:login, scope: 'application.nav'), new_user_session_path, class: 'button' %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
