<!DOCTYPE html>
<html>
  <head>
    <title>Brvs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= yield(:javascripts) %>
  </head>

  <body>
    <%= content_for?(:main) ? yield(:main) : yield %>
  </body>
</html>
