<% content_for :main do %>
  <main class="hero is-light is-fullheight">
    <header class="hero-head">
      <nav class="navbar has-background-dark">
        <div class="container">
          <div class="navbar-brand">
            <h1 class="navbar-item is-size-3 has-text-white">brvs</h1>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <% if !ENV['REGISTRATION_DISABLED'] && controller_name != 'registrations' %>
                <span class="navbar-item">
                  <%= link_to t(:register, scope: 'application.nav'), new_user_registration_path, class: 'button' %>
                </span>
              <% end %>
              <% if controller_name != 'sessions' %>
                <span class="navbar-item">
                  <%= link_to t(:login, scope: 'application.nav'), new_user_session_path, class: 'button' %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered"><%= t 'form.title', scope: [:devise, controller_name, action_name] %></h1>
        <%= render 'notifications' %>
        <div class="columns">
          <div class="column"></div>
          <div class="column is-three-fifths">
            <div class="card">
              <div class="card-content">
                <%= render 'devise/form_errors' %>
                <%= yield :form %>
              </div>
              <% if controller_name == 'registrations' || controller_name == 'sessions' %>
              <div class="card-footer">
                <%= link_to t(:recover_password, scope: 'devise.nav'), new_user_password_path, class: 'card-footer-item' %>
                <%= link_to t(:resend_confirmation, scope: 'devise.nav'), new_user_confirmation_path, class: 'card-footer-item' %>
                <%= link_to t(:resend_unlock, scope: 'devise.nav'), new_user_unlock_path, class: 'card-footer-item' %>
              </div>
              <% end %>
            </div>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
    <footer class="hero-foot">
      <%= render 'footer' %>
    </footer>
  </main>
<% end %>
<%= render template: 'layouts/application' %>
